@use './colors' as *;

body {
  font-family: 'Karla', Arial, Helvetica, sans-serif;
  color: $text-color;
  background-color: $background-color;
}

.theme-nord {
  --color-bg: var(--nord0);
  --color-fg: var(--nord6);
}
