@use './colors' as *;

body {
  font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
  color: $color-text-primary;
  background-color: $color-bg;
}

.theme-nord {
  --color-bg: var(--nord0);
  --color-fg: var(--nord6);
}
