@use './mixins' as *;

// Font family variables
$font-main: 'Aleo', Georgia, 'Times New Roman', Times, serif;
$font-sans: 'Lato', Arial, Helvetica, sans-serif;
$font-heading: 'Lato', Arial, Helvetica, sans-serif;

// Aleo variable font (main font)
@font-face {
  font-family: 'Aleo';
  src: url('/assets/fonts/Aleo-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Aleo';
  src: url('/assets/fonts/Aleo-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

// Lato (sans-serif alternative)
@include font-face('Lato', '/assets/fonts/Lato-Regular.ttf');
@include font-face('Lato', '/assets/fonts/Lato-Italic.ttf', normal, italic);
@include font-face('Lato', '/assets/fonts/Lato-Bold.ttf', bold);
@include font-face('Lato', '/assets/fonts/Lato-BoldItalic.ttf', bold, italic);
@include font-face('Lato', '/assets/fonts/Lato-Light.ttf', lighter);
@include font-face('Lato', '/assets/fonts/Lato-LightItalic.ttf', lighter, italic);
@include font-face('Lato', '/assets/fonts/Lato-Medium.ttf', 500);
@include font-face('Lato', '/assets/fonts/Lato-MediumItalic.ttf', 500, italic);
@include font-face('Lato', '/assets/fonts/Lato-Semibold.ttf', 600);
@include font-face('Lato', '/assets/fonts/Lato-SemiboldItalic.ttf', 600, italic);
@include font-face('Lato', '/assets/fonts/Lato-Black.ttf', 900);
@include font-face('Lato', '/assets/fonts/Lato-BlackItalic.ttf', 900, italic);

.text-error {
  color: var(--text-error);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
}

body {
  font-family: $font-main;
}
