@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla-Light.ttf") format("truetype");
  font-weight: lighter;
}
@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla-LightItalic.ttf") format("truetype");
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla-ExtraBold.ttf") format("truetype");
  font-weight: bolder;
}
@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bolder;
  font-style: italic;
}
body {
  font-family: "Karla", Arial, Helvetica, sans-serif;
}
